@import "tailwindcss";

@keyframes ellipsis {
  0%, 20% {
    content: '.';
  }
  40% {
    content: '..';
  }
  60% {
    content: '...';
  }
  80%, 100% {
    content: '...';
  }
}

.animate-ellipsis::after {
  content: '.';
  animation: ellipsis 1.5s infinite;
  display: inline-block;
  width: 1em; /* to prevent the text from jumping */
  text-align: left;
}
